//For admin color picker color swatches add colors in admin/global.scss

$white: #fff;
$black: #000;
$gray-light: #efefef;
$gray: #76777b;
$gray-dark: #2b383b;

$orange: #fd7e14;
$yellow: #fc0;
$red: #ac0125;
$green: #b1d1c9;
$green-dark: #98b4ad;

$primary: $green;
$secondary: $red;

$success: $green;
$warning: $yellow;
$danger: $red;

$body-color: $black;
$link-color: $primary;
$link-decoration: none;
$link-hover-color: $green-dark;
