@import "variables-colors";
@import "variables-type";

$grid-gutter-width: 2rem;
$container-padding-x: 2rem;

$container: 1200px;
$container-narrow: 1000px;
$container-margin: calc((100vw - 1357px) / 2);

$container-max-widths: (
  xl: $container,
);

//$border-radius: 10px;

//Global options
//https://getbootstrap.com/docs/5.2/customize/options/
$enable-caret: false;
$enable-rounded: false;
