//WCAG bypass repeated blocks with keyboard-only
.skip-to-content {
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;

  &:focus-within {
    + header.banner {
      top: 40px;
    }
  }
}

header.banner {
  @include theme-transition(transform, 0.2s, ease-in-out);
}

.not-top.scrolled-down {
  header.banner {
    @include media-breakpoint-up(xl) {
      transform: translateY(-54px);

      .navbar-primary {
        border-bottom: 2px solid #b1d1c9;
        padding-bottom: 0;
        padding-top: 10px;

        .navbar-collapse {
          border-bottom: none;
          padding-bottom: 10px;
        }
      }
    }
  }
}

.admin-bar {
  header.banner {
    top: 46px;
    @include media-breakpoint-up(md) {
      top: 32px;
    }
  }

  &.not-top {
    header.banner {
      top: 0;
      @media (min-width: 600px) {
        top: 46px;
      }
      @include media-breakpoint-up(md) {
        top: 32px;
      }
    }
  }
}
