//Footer to bottom when little content
@include media-breakpoint-up(xl) {
  body,
  html,
  #app {
    height: 100%;
  }

  #app {
    display: flex;
    flex-direction: column;

    .content-wrap {
      flex: 1 0 auto;
    }
  }

  footer.content-info { margin-top: auto; }
}

html {
  scroll-padding-top: 100px;
}

//General body styles
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Prevent iOS autozoom when focusing
@include media-breakpoint-down(md) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

main {
  padding-top: 112px;
  @include media-breakpoint-up(xl) {
    padding-top: 174px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
}

.page,
.woocommerce-page,
.single,
.archive,
.search,
.error404 {
  .wrap {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include media-breakpoint-up(md) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}

.page:not(.home, .wide-layout),
.single {
  main {
    .main-content-wrapper {
      max-width: $container-narrow;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

video {
  object-fit: cover;
}

.dark-overlay {
  z-index: 1;
}

.alert {
  font-size: 1rem;
}

iframe {
  max-width: 100%;
}

//General SVG styles. Each SVG has .icon class (set in theme/config/svg.php)
.icon {
  width: 1rem;
  height: auto;
}
