.single.woocommerce {
  .product_meta {
    > span {
      display: block;
      margin-bottom: 6px;
      padding-bottom: 6px;
      border-bottom: 1px solid $gray-light;
    }
  }

  article {
    header {
      margin-bottom: 2rem;
    }
  }
}
