.wp-block-cover {
  justify-content: flex-start;
  align-items: flex-end;

  .wp-block-cover__inner-container {
    .wp-block-group {
      text-align: center;
      z-index: 1;
      margin-bottom: 0;
      position: relative;
      max-width: 350px;
      //max-height: 245px;
      padding: 2rem 1.5rem;
      @include inner-border;

      h2 {
        @include font-size(24px);
      }

      .wc-block-grid__product {
        font-size: 14px;
      }

      .wc-block-grid__products,
      .wc-block-grid__product-price {
        margin: 0!important;
      }

      .wc-block-grid__product {
        border: none!important;
      }
    }
  }
}
