//Config
@import "config/variables/variables";
@import "config/external/external";
@import "config/mixins/mixins";
@import "config/utilities";

//Blocks
@import "blocks/cover";
@import "blocks/spacer";
@import "blocks/tag-cloud";
@import "blocks/latest-posts";
@import "blocks/woocommerce/product-categories-list";
@import "blocks/woocommerce/product-new";
@import "blocks/woocommerce/mini-cart";

//Common
@import "common/global";
@import "common/type";
@import "common/layout";
@import "common/wp-classes";

//Components
@import "components/buttons";
@import "components/fancybox";
@import "components/forms";
@import "components/navs-tabs";
@import "components/tables";
@import "components/cookie-banner";
@import "components/full-calendar";

//Partials
@import "partials/menu/menu";
@import "partials/menu/menu-mobile";
@import "partials/menu/menu-desktop";
@import "partials/footer";
@import "partials/header";
@import "partials/sidebar";
@import "partials/page-header";
@import "partials/single";
@import "partials/woocommerce/woocommerce-general";
@import "partials/woocommerce/woocommerce-single";
