//Config
@import "config/variables/variables";
@import "config/external/external";
@import "config/mixins/mixins";
@import "config/utilities";

//Blocks
@import "blocks/cover";

//Common
@import "common/global";
@import "common/type";
@import "common/layout";
@import "common/wp-classes";

//Components
@import "components/buttons";
@import "components/fancybox";
@import "components/forms";
@import "components/navs-tabs";
@import "components/tables";

//Partials
@import "partials/menu/menu";
@import "partials/menu/menu-mobile";
@import "partials/menu/menu-desktop";
@import "partials/footer";
@import "partials/header";
