.editor-styles-wrapper .wp-block {
    margin-left: auto;
    margin-right: auto;
}

html :where(.wp-block) {
    margin-bottom: 28px;
    margin-top: 28px;
    max-width: 840px;
}

.wp-block[data-type="core/widget-area"] {
  max-width: 1000px;
}
