@mixin ulol() {
  ul:not(.list-unstyled, .dropdown-menu, .nav-tabs),
  ol {
    padding-left: 1rem;

    li {
      &::marker {
        color: $primary;
      }
    }
  }
}

@mixin white-link() {
  a {
    color: $white;
    @include hover-focus-active {
      color: $green-dark;
    }
  }
}

@mixin inner-border() {
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid $primary;
    z-index: -1;
  }
}

@mixin container-narrow($padding-x: $container-padding-x) {
  max-width: $container-narrow;
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

@mixin hover-focus-active() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin theme-transition($target: all, $time: 0.2s, $easing: ease-in-out) {
  transition: $target $time $easing;
}

@mixin wp-current-menu-item() {
  &.current-post-ancestor,
  &.current-page-ancestor,
  &.current-menu-ancestor,
  &.current-menu-parent,
  &.current-page-parent,
  &.current-menu-item,
  &.current_page_item,
  &.current_page_ancestor,
  &.current-category-ancestor {
    @content;
  }
}

@mixin input-placeholder($color: $body-color, $transform: none, $fontSize: 1rem, $fontWeight: 400) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
    font-size: $fontSize;
    text-transform: $transform;
    font-weight: $fontWeight;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
    font-size: $fontSize;
    text-transform: $transform;
    font-weight: $fontWeight;
  }
}
