.navbar {
  --bs-navbar-color: #000;

  .navbar-nav {
    --bs-nav-link-hover-color: #b1d1c9;

    > .menu-item {
      > .nav-link {
        text-transform: uppercase;
      }

      &.with-icon {
        > a {
          position: relative;
          padding-left: 2.5rem;

          &::before {
            content: "";
            background-size: contain;
            background-repeat: no-repeat;
            width: 2rem;
            height: 2rem;
            display:inline-block;
            position: absolute;
            left: 0;
            top: 2px;
          }
        }
      }

      &.getaway {
        > a {
          &::before {
            background-image: url("../images/getaway.svg");
          }
        }
      }

      &.savistuudio {
        > a {
          &::before {
            background-image: url("../images/savistuudio.svg");
          }
        }
      }

      &.epood {
        > a {
          &::before {
            background-image: url("../images/epood.svg");
          }
        }
      }
    }
  }

  .navbar-toggler {
    --bs-navbar-color: #6a6a6a;
    --bs-navbar-toggler-border-color: #6a6a6a;
    --bs-navbar-toggler-focus-width: 1px;
    //--bs-navbar-toggler-icon-bg: #fff;

    .navbar-toggler-icon {
      width: 1rem;
      height: 1rem;

      --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }

  .nav-item {
    @include wp-current-menu-item {
      > a {
        color: #dec18c;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}
