@include media-breakpoint-down(lg) {
  .navbar-middle {
    padding-top: 9px;
    padding-bottom: 9px;

    .wp-block-image {
      img {
        width: 158px!important;
      }
    }
  }

  .navbar-primary {
    background-color: $gray-dark;

    .navbar-nav {
      margin-top: 20px;

      .nav-link {
        color: $white;
      }

      .sub-menu {
        a {
          padding-left: 1rem;
          font-size: 14px;
        }

        .sub-menu {
          a {
            padding-left: 2rem;
          }
        }
      }
    }
  }
}
