.wp-block-woocommerce-product-categories {
  background-color: $green;
  padding: 2rem 1rem;
  height: 100%;

  ul {
    display: grid;
    gap: 1rem;

    li {
      color: $white;

      ul {
        margin-top: 1rem;
      }
    }
  }

  @include white-link;
}
